@import "../../vars.css";

.menu {
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--header-paddings);
}

.menu > button:first-child {
  margin-right: 10px;
  white-space: nowrap;
}

@media only screen and (max-width: 800px) {
  .slidersContainer {
    display: flex;
    flex-wrap: wrap;
  }
}

.slidersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
