@import "../../vars.css";

.menu {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.sliders {
  display: flex;
  gap: 20px;
}

.slider {
  display: flex;
  flex-direction: column;
}

.sliderLabels {
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  gap: 20px;
}
