@import "../../vars.css";

.comparisions {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 26px;
  padding-bottom: var(--header-paddings);
}

.comparisions > span:nth-child(2) {
  display: block;
  margin: 0 auto;
}
