@import "../../vars.css";

.comparisions {
  display: flex;
  flex-flow: row wrap;
  text-transform: capitalize;
  font-size: 26px;
  gap: 20px;
}

.comparisions > span:first-child {
  flex-grow: 3;
}

.comparisions > span:nth-child(2) {
  flex-grow: 1;
}
