@import "../../vars.css";

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: var(--header-paddings);
  border-bottom: 1px solid var(--primary-border-color);
  box-shadow: var(--primary-box-shadow-color) 0px 1px 10px;
}
